/reports
.DS_Store
defaults/**/*.csv
defaults/**/*.csv#
defaults/**/*.fasta
defaults/**/*.gb
defaults/**/*.jpg
defaults/**/*.jpeg
defaults/**/*.png
defaults/**/*.sqlite
defaults/**/*.xls
defaults/**/*.xlsx
starter/**/*.csv
starter/**/*.csv#
starter/**/*.fasta
starter/**/*.gb
starter/**/*.jpg
starter/**/*.png
starter/**/*.sqlite
starter/**/*.xls
starter/**/*.xlsx
workflows/**/*.csv
workflows/**/*.csv#
workflows/**/*.fasta
workflows/**/*.gb
workflows/**/*.jpg
workflows/**/*.jpeg
workflows/**/*.png
workflows/**/*.sqlite
workflows/**/*.xls
workflows/**/*.xlsx
output.json
