/reports
.DS_Store
starter/**/*.csv
starter/**/*.csv#
starter/**/*.fasta
starter/**/*.gb
starter/**/*.jpg
starter/**/*.png
starter/**/*.sqlite
starter/**/*.xls
starter/**/*.xlsx
workflows/**/*.csv
workflows/**/*.csv#
workflows/**/*.fasta
workflows/**/*.gb
workflows/**/*.jpg
workflows/**/*.jpeg
workflows/**/*.png
workflows/**/*.sqlite
workflows/**/*.xls
workflows/**/*.xlsx
output.json
